html,
body {
  @apply text-body-l font-medium;

  @include theme(light) {
    @apply bg-light-grey text-black;
  }

  @include theme(dark) {
    @apply bg-very-dark-grey text-white;
  }
}

*:focus {
  @apply outline-none ring-2 ring-inset ring-main-purple;
}

html {
  @apply antialiased scroll-smooth;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

a,
span {
  @apply inline-block;
}
